@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 82vh;
}
/* remove the input focus blue box, it will be in the wrong place. */
.searchInput:focus {
  outline: none;
}
/* Add the focus effect to the form so it contains the button */
.searchBar:focus-within {
  outline: 4px solid #b9b9b994;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 